{% load sass_tags %}
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
    Methods skills matrix
    {% endblock %}
  </title>

  <link href="{% sass_src 'scss/global.scss' %}" rel="stylesheet" type="text/css">
  {% block extra_css %}
  {% endblock %}
</head>


<body class="govuk-template__body  js-enabled">
    {% include 'skills_matrix/partials/header.html' %}
        {% if request.user.is_admin %}
        {% include 'skills_matrix/partials/admin_nav.html' %}
        {% endif%}
       <div class="govuk-width-container ">
        {% block beforeContent %} {% endblock %}
          <main  id="main-content" tabindex="-1" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" role="main">
            {% block content %}{% endblock %}
          </main>
       </div>
  {% include 'skills_matrix/partials/footer.html' %}

  <script src="/static/js/all.js"></script>
  <script>
    window.GOVUKFrontend.initAll()
  </script>
</body>

</html>