{% extends "auth_processes/auth_processes_base.html" %}
{% load sass_tags %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Login</h1>

<!--      {% if form.errors %}-->
<!--      <p>Your username and password didn't match. Please try again.</p>-->
<!--      {% endif %}-->



<div class="govuk-form-group {% if form.errors %} govuk-form-group--error {% endif %}">
<form class="form" method="post">
        {% csrf_token %}
    {% for form_error in form.non_field_errors %}
    <div class="govuk-error-message">
        {{form_error}}
        </div>
    {% endfor %}
        {% for field in form %}
        <div>
          <div>
            {% for error in field.errors %}
            <span id="addname-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{error}}
            </span>
            {% endfor %}
          </div>
          <label class="govuk-hint" for="{{field.id_for_label}}">
            {{field.label}}
          </label>
          {{field}}
        </div>
        {% endfor %}
    <input type="submit" value="Continue" class="govuk-button" data-module="govuk-button">
<input type="hidden" name="next" value="/dashboard">
      </form>
</div>


            <p class="govuk-body">If you don't have an account yet, you can <a href="/signup/name">create one here</a>.</p>





    </div>
  </div>

{% endblock %}
