{% extends "auth_processes/auth_processes_base.html" %}
{% load sass_tags %}

{% block content %}
<div class="govuk-width-container">
  <form class="form" method="post">
    {% csrf_token %}
    <div class="govuk-panel">
      <h1 class="govuk-heading-xl">
        Are you sure you want to log out?
      </h1>
      <button class="govuk-button" data-module="govuk-button">
        Yes, log me out
      </button>
      <a class="govuk-button govuk-button--warning govuk-!-margin-left-4" href="{% url 'dashboard' %}">No, cancel</a>
    </div>
  </form>
</div>

{% endblock %}