{% extends "job_roles/job_roles_base.html" %}
{% load sass_tags %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'dashboard' %}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'job-roles' %}">Job Roles</a>
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Add a new job role</h1>
    <div class="govuk-form-group {% if form.errors %} govuk-form-group--error {% endif %}">
      <form class="form" method="post">
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        <div>
          <div>
            {% for error in field.errors %}
            <span id="addname-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{error}}
            </span>
            {% endfor %}
          </div>
          <label class="govuk-hint" for="{{field.id_for_label}}">
            {{field.label}}
          </label>
          {{field}}
        </div>
        {% endfor %}
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>
    </div>

  </div>
</div>
{% endblock %}