{% extends "job_roles/job_roles_base.html" %}
{% load sass_tags %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'job-roles' %}">Job Roles</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            {% if not existing_role %}
            <a class="govuk-breadcrumbs__link" href="{% url 'add-job-title' %}">Job Title</a>
         </li>
            {% else %}
            <a class="govuk-breadcrumbs__link" href="{% url 'job-role-view' job_title|slugify %}">{{job_title}}</a>
         </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'update-job-role-view' job_title|slugify %}">Edit {{job_title}}</a>
        </li>

            {% endif %}

    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if job_title %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{job_title}}</h1>
        {% else %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{request.session.job_role_title}}</h1>
        {% endif %}
    </div>
</div>
<div class="govuk-!-margin-top-4">
    <div class="govuk-grid-row">
                <h2 class="govuk-heading-m">Select skills</h2>
            <div  class="govuk-form-group govuk-form-group--error">
                {% if messages %}
                <div>
                    {% for message in messages %}
                    <span id="redirect-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ message }}
                    </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        
       

            <form class="form" method="post">
                {% csrf_token %}
                
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <div class="govuk-form-group">
                                {{form.job_role_skill}}
                            </div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <div class="govuk-form-group">
                                {{form.job_role_skill_level}}
                            </div>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" name="addSkill" {% if form.job_role_skill|length|add:"-1" == competencies|length %} disabled="disabled" aria-disabled="true" {% endif %} >
                                Add Skill
                            </button>
                        </dd>
                    </div>
                </dl>
                {% if competencies %}
                <h2 class="govuk-heading-m">Job role skills</h2>
                <dl class="govuk-summary-list">

                    {% for competency in competencies %}
                        {% for key,value in competency.items %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {{key}}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{value}}
                            </dd>
                            {% if new_role %}
                            <dd class="govuk-summary-list__actions">
                                <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                                    data-module="govuk-button" name="delete" value="{{key}}">
                                    Delete
                                </button>
                            </dd>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% endfor %}
                </dl>


                 <a class="govuk-button" data-module="govuk-button"
                     {% if job_title %} href="{% url 'update-job-role-view' job_title|slugify %}"
                    {% else %} href={% url 'review-job-role-details' %} {% endif %}>Continue</a>
                                {% endif %}
            </form>
            <p class="govuk-body">If the skill you are looking for is not in the list, you can <a
                    href="{% url 'admin-create-skill' %}">create a new skill
                    here</a>.</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}