{% extends "job_roles/job_roles_base.html" %}
{% load sass_tags %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if messages %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        {% for message in messages %}
        <h3 class="govuk-notification-banner__heading">
          {{ message }}
        </h3>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Job roles</h1>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for job_role in job_role_list %}
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  {{job_role}}
                </span>
              </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                Job requirements.
              </div>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content"
              aria-labelledby="accordion-with-summary-sections-heading-1">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="{% url 'job role view' job_role %}">View job role</a>
                </li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
        {% if user.is_staff %}
        <a class="govuk-button" data-module="govuk-button" href="{% url 'add_job_title' %}">Add a job role</a>
        {% endif %}
      </div>
    </div>

    {% endblock %}