{% extends "job_roles/job_roles_base.html" %}
{% load sass_tags %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'dashboard' %}" >Home</a>
        </li>
        {% if careerPath %}
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/career-paths">Career paths</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/view-career-path/{{careerPath}}">{{careerPath}}</a>
        </li>
        {% else %}
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'job-roles' %}">Job Roles</a>
        </li>
        {% endif %}
    </ol>
</div>

{% endblock %}

{% block content %}
{% if not job_role_obj|length %}
<div class="govuk-width-container">
      <div class="govuk-panel">
        <h1 class="govuk-heading-xl">
          There are no skills assigned to the {{job_title.job_title}} role.
        </h1>
        <a class="govuk-button" href="{% url 'add-a-skill' job_title.job_title|slugify %}">
            Add skill
          </a>
          <a class="govuk-button govuk-button--warning" href="{% url 'delete-job-role-view' job_title.job_title|slugify %}" data-module="govuk-button"
          >
          Delete Job Role
      </a>
      </div>
  </div>
{% else %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{job_title.job_title}}</h1>
        <span class="govuk-caption-xl"> Job role skills</span>
    </div>
</div>
<div class="govuk-!-margin-top-4">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Skill</th>
                    <th scope="col" class="govuk-table__header">Skill Level</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for job_role in job_role_obj %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{job_role.job_role_skill.name}}</th>
                    <td class="govuk-table__cell">{{job_role.job_role_skill_level.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="govuk-button" data-module="govuk-button" href="{% url 'update-job-role-view' job_title.job_title|slugify %}">Edit Job
            Role</a>
            <a class="govuk-button govuk-button--warning" href="{% url 'delete-job-role-view' job_title.job_title|slugify %}" data-module="govuk-button"
            >
            Delete Job Role
        </a>
</div>
{% endif %}
{% endblock %}
