{% extends "job_roles/job_roles_base.html" %}
{% load sass_tags %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/job-roles/">Job Roles</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link"
                href="/view-job-role/{{jobRole.jobroletitle}}">{{jobRole.jobroletitle}}</a>
        </li>
    </ol>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Edit Job Role </h1>
    </div>
</div>
<form method="post" action="/update-job-role/{{jobRole.jobroletitle}}">
    <input class="govuk-input govuk-!-width-one-half" value="{{jobRole.jobroletitle}}" id="jobroletitle"
        name="jobroletitle" type="text">
    <div class="govuk-!-margin-top-4">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <dl class="govuk-summary-list govuk-!-margin-bottom-2">
                    {% for jobroleskill in jobRole.jobroleskills %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <select class="govuk-select" id="jobroleskills" name="jobroleskills">
                                {% for jobskill in jobroleskilllist %}
                                <option >{{jobskill}}
                                </option>
                                {% endfor %}
                            </select>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <div class="govuk-form-group">
                                <select class="govuk-select" id="jobroleskilllevels" name="jobroleskilllevels">
                                    <option value="Beginner" >Beginner
                                    </option>
                                    <option value="Intermediate" >
                                        Intermediate</option>
                                    <option value="Advanced" >Advanced
                                    </option>
                                    <option value="Expert" >Expert</option>
                                </select>
                            </div>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                                data-module="govuk-button" name="deletejobroleskills"
                                value="{{jobroleskill.skillName}}">
                                Delete
                            </button>
                        </dd>
                    </div>
                    {% endfor %}
                    <div class="govuk-!-margin-top-4">
                        <button class="govuk-button" name="savejobrole" value="savejobrole">
                            Save
                        </button>
                        <button class="govuk-button" name="addjobroleskill" value="addjobroleskill">
                            Add a skill
                        </button>

                    </div>
                </dl>
            </div>
        </div>

    </div>
</form>
</div>

{% endblock %}