$govuk-assets-path: '../assets/';

@import "../../node_modules/govuk-frontend/govuk/all";


.govuk-subnav-header {
    margin: 0;
    padding: 10px 15px 10px 0;
    color: #505a5f;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

.govuk-app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}

.govuk-app-subnav__section-item{
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.govuk-app-subnav__section-item-anchor--current{
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    background-color: #fff;
}

.govuk-link:hover {
    text-decoration-thickness: max(0.15rem, .1875rem, .12rem);
}

.govuk-app-subnav {
    padding: 30px 15px 0 0;
    margin-bottom: 100px;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
}

.govuk-app-content {
    // padding-left:0;
    // padding: 30px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 50px;
}

.govuk-breadcrumbs__list:after {
    content: "";
    display: inline-block;
    clear: both;
}

.govuk-app-pane__body {
    display: flex;
    position: relative;
    min-height: 0;
    flex: 1 1 100%;
    max-width: 1060px;
    margin-right: 15px;
    margin-left: 15px;
}

.govuk-app-subnav{
    display: block;
    padding: 50px 0 0;
}

.govuk-app-pane__content {
    display: flex;
    margin-left: auto;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0;
}

.govuk-app-pane__subnav{
    flex: 0 0 auto;
    width: 150px;
}

@media (min-width: 40.0625em) and (min-width: 1160px){
    .govuk-app-pane__body {
        // margin-right: auto;
        // margin-left: auto;
        margin-left: calc((100vw - 960px)/2);
}}
