{% extends "app/app_base.html" %}
{% load sass_tags %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Add a skill to your profile</h1>
    </div>
  </div>
<div class="govuk-!-margin-top-4">
    <div class="govuk-grid-row">
      <form method="post">
        {% csrf_token %}
      <div class="govuk-grid-column-two-thirds-from-desktop">
          <div class="govuk-form-group {% if form_user_skill.errors %} govuk-form-group--error {% endif %}">
            {{form_user_skill.non_field_errors}}
            {% for field in form_user_skill %}
            <div>
              <div>
                {% for error in field.errors %}
                <span id="addname-error" class="govuk-error-message govuk-!-margin-bottom-1">
                  <span class="govuk-visually-hidden">Error:</span>
                  {{error}}
                </span>
                {% endfor %}
              </div>
              <label class="govuk-label" for="user_skill">
                Skill
              </label>
              {{field}}
            </div>
            {% endfor %}
          </div>
          <div class="govuk-form-group {% if form_user_skill_level.errors %} govuk-form-group--error {% endif %}">
            {{form_user_skill_level.non_field_errors}}
            {% for field in form_user_skill_level %}
            <div>
            <div>
                {% for error in field.errors %}
                <span id="addname-error" class="govuk-error-message govuk-!-margin-bottom-1">
                <span class="govuk-visually-hidden">Error:</span>
                {{error}}
                </span>
                {% endfor %}
            </div>
            <label class="govuk-label" for="user_skill_level">
                Skill level
              </label>
            {{field}}
            </div>
            {% endfor %}
          </div>
  <button class="govuk-button" data-module="govuk-button">Save</button>
</form>
  <p>If your skill isn't in the list, you can <a href="/add-skill/create-skill">create a new skill here</a>.</p>
</div>

{% endblock %}


