{% extends "app/app_base.html" %}
{% load sass_tags %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Welcome, {{user.first_name}}</h1>
    <span class="govuk-caption-xl">{{user.job_role}} | {{user.team}}</span>
    <div class="govuk-!-margin-top-7">
      <h2 class="govuk-heading-l">Your Skills</h2>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#required-skills">
              Required skills
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="{% if form %} govuk-tabs__tab govuk-anchor-disabled {% else %} govuk-tabs__tab {% endif %}" href="#additional-skills">
              Additional skills
            </a>
          </li>
        </ul>
        <form method="post">
          {% csrf_token %}
          <div class="govuk-tabs__panel" id="required-skills">
            <h2 class="govuk-heading-l">{{user.job_role}}</h2>
            {% if job_role_competency_list|length > 0 %}
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Skill</th>
                  <th scope="col" class="govuk-table__header">Expected - Skill Level</th>
                  <th scope="col" class="govuk-table__header">Current - Skill Level</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for job_role_competency in job_role_competency_list %}
                <tr class="govuk-table__row">
                              <td class="govuk-table__cell">{{job_role_competency.job_role_skill.name}}</td>
                              <td class="govuk-table__cell">{{job_role_competency.job_role_skill_level.name}}</td>
                              {% if job_role_competency.job_role_skill.id not in user_skills %}
                              <td class="govuk-table__cell govuk-table-cell-border">{% if form and job_role_competency.job_role_skill.id == update_existing_skill_id %} {{form.user_skill_level}} {% else %}Enter your skill level {% endif %}
                              </td>
                              {% else %}
                              {% for user_competency in all_user_competency %}
                              {% if job_role_competency.job_role_skill == user_competency.skill %}
                              <td class="govuk-table__cell govuk-table-cell-border">{% if form and job_role_competency.job_role_skill.id == update_existing_skill_id %} {{form.user_skill_level}} {% else %}{{user_competency.skill_level.name}} {% endif %}
                               </td>
                               {% endif %}
                                {% endfor %}
                                {% endif %}
                              <td class="govuk-table-action__cell"><button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" {% if form and update_indiviudal_competency_id != individual_job_related_competency.id %} disabled {% endif %} {% if form and update_indiviudal_competency_id == individual_job_related_competency.id %} name="save-skill-level" value="{{job_role_competency.job_role_skill.id}}" {% else %} name="update-competency" value="{{job_role_competency.job_role_skill.id}}" {% endif %}> {% if form and update_indiviudal_competency_id == individual_job_related_competency.id%} Save {% else %} Edit{% endif %}</button></td>
                            </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td>Sorry, but at the moment this job role has no skills assigned to it.</td>
                </tr>
              </tbody>
            </table>
            {% endif %}
          </div>
        </form>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="additional-skills">
          <h2 class="govuk-heading-l">Personal profile</h2>
          {% if individual_competency_list|length > 0 %}
          <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Skill</th>
                  <th scope="col" class="govuk-table__header">Skill Level</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for individual_competency in individual_competency_list %}
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header">{{individual_competency.skill.name}}</td>
                  <td class="govuk-table__cell">{{individual_competency.skill_level.name}}</td>
                  <td class="govuk-table-action__cell"><button class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-right-2" data-module="govuk-button">Edit</button><button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
              Delete
            </button></td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
          <a class="govuk-button" data-module="govuk-button" href="/edit-skills">
            Add skills
          </a>
          {% else %}
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td>If you have any other skills that you would like to add to your profile, please add them in this section .</td>
              </tr>
            </tbody>
          </table>
          <a class="govuk-button" data-module="govuk-button" href="/edit-skills">
            Add skills
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
