{% extends "app/app_base.html" %}
{% load sass_tags %}

<head>
  <link href="{% sass_src 'scss/_global.scss' %}" rel="stylesheet" type="text/css" />
</head>

{% block pageTitle %}
  Home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Edit your skills</h1>
    </div>
  </div>
<div class="govuk-!-margin-top-4">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <form method="post">
            {% csrf_token %}
            {% for competency in competency_list %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{competency.job_role_skill.name}}
                <input type="hidden" name="skills" value="{{competency.job_role_skill.name}}">
              </dt>
              <dd class="govuk-summary-list__value">
                {{form.user_skill_level}}
            </dd>
            </div>
            {% endfor %}
            <div class="govuk-!-margin-top-4">
              <button class="govuk-button" name="save" value="save">
                Save
              </button>
          </div>
          </form>
          </dl>



</div>

{% endblock %}
