{% extends "app/app_base.html" %}
{% load sass_tags %}

<head>
  <link href="{% sass_src 'scss/global.scss' %}" rel="stylesheet" type="text/css" />
</head>


{% block pageTitle %}
  Home
{% endblock %}

{% block content %}

{{users}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% if name %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Welcome, {{name}}</h1>
{% elif profile %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Welcome, {{profile.firstName}}</h1>
{% else %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Welcome</h1>
{% endif %}
{{profile.name}}


{% if profile %}
<span class="govuk-caption-xl">{{profile.job}} | {{profile.team}}</span>
{% endif %}
    </div>
  </div>
<div class="govuk-!-margin-top-4">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--l">Your Skills</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Skill</th>
        <th scope="col" class="govuk-table__header">Skill Level</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for skill in skills %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{skill.skillName}}</th>
        <td class="govuk-table__cell">{{skill.skillLevel}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a class="govuk-button" data-module="govuk-button" href="/edit-skills">
  Edit skills
</a>

{% endblock %}
