{% extends "app/app_base.html" %}
{% load sass_tags %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Login</h1>

      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      <form class="form" method="post">
          {% csrf_token %}
        <div class="govuk-form-group">
          <label class="govuk-label">

            <table>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

            Email:
          </label>

          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" required>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label">
            Password:
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password" required>
        </div>

        <button class="govuk-button" data-module="govuk-button">Log in</button>
              </form>

            <p class="govuk-body">If you don't have an account yet, you can <a href="/signup/name">create one here</a>.</p>





    </div>
  </div>

{% endblock %}
