{% extends "signup/signup_base.html" %}
{% load sass_tags %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is your name?</h1>
<form class="form" method="post">
  {% csrf_token %}
<div class="govuk-form-group govuk-hint">
          <label class="govuk-hint">
            First name
          </label>
          {{form.first_name}}
</div>
          <div class="govuk-form-group govuk-hint">
            <label class="govuk-hint">
              Surname
            </label>
            {{form.surname}}
          </div>
  <input type="submit" value="Submit" class='govuk-button'>
</form>

          </div>
  </div>
{% endblock %}