{% extends "signup/signup_base.html" %}
{% load sass_tags %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if edit %}
    <h1 class="govuk-heading-xl">Edit your name</h1>
    {% else %}
    <h1 class="govuk-heading-xl">What is your name?</h1>
    {% endif %}
    <div class="govuk-form-group {% if form.errors %} govuk-form-group--error {% endif %}">
      <form class="form" method="post">
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        <div>
          <div>
            {% for error in field.errors %}
            <span id="addname-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{error}}
            </span>
            {% endfor %}
          </div>
          <label class="govuk-hint" for="{{field.id_for_label}}">
            {{field.label}}
          </label>
          {{field}}
        </div>
        {% endfor %}
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>

  </div>
</div>
{% endblock %}



<!-- <div class="govuk-form-group govuk-hint">
  <label class="govuk-hint">
    First name
  </label>
  {{form.first_name}}
</div>
<div class="govuk-form-group govuk-hint">
  <label class="govuk-hint">
    Surname
  </label>
  {{form.surname}}
</div>
<input type="submit" value="Submit" class='govuk-button'>
</form> -->