{% extends "signup/signup_base.html" %}
{% load sass_tags %}

{% block beforeContent %}
<a class="govuk-back-link" href="/job-role">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Create a password</h1>
        <form action="" method="POST"> 
            {% csrf_token %}
            {{form.non_field_errors}}
            {% for field in form %}
            <div>
                {% for error in field.errors %}
                <span id="password-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{error}}
                </span>
                {% endfor %}
              {{field.label_tag}} {{field}} 
            </div>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
           

<!-- 
        {% if form.errors %}
        <div>
            {% for value in err %}
            {{value}}
        {% endfor %}
        </div>
         -->

            
         


        <!-- <div class="govuk-form-group govuk-form-group--error">
            <form class="form" method="post">
                {% csrf_token %}
                <div class="govuk-form-group govuk-hint govuk-!-margin-bottom-5">
                    <label class="govuk-hint">
                        You will use this password to log in securely to the platform.
                    </label>
                    <span id="password-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        Passwords must match
                    </span>
                    <input class="govuk-input govuk-input--error" id="password" name="password" type="password"
                        spellcheck="false" aria-describedby="password-hint password-error">
                </div>
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            </form>
        </div> -->


        <!-- {% else %}
        <div class="govuk-form-group govuk-hint govuk-!-margin-bottom-5">
            <form class="form" method="post">
                {% csrf_token %}
                <label class="govuk-hint" for="event-name">
                    You will use this password to log in securely to the platform.
                </label>
                {{form.password}}

                <div class="govuk-form-group govuk-hint govuk-!-margin-bottom-5">
                    <label class="govuk-hint" for="event-name">
                        Confirm password
                    </label>
                    {{form.password_confirm}}
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                </div>
            </form>
        </div>
        {% endif %} -->


        {% endblock %}