<nav class="govuk-grid-column-one-quarter" aria-labelledby="govuk-subnav-heading">
  <h2 class="govuk-visually-hidden" id="govuk-subnav-heading">Pages in this section</h2>

  <ul class="govuk-app-subnav__list">

    <li class="govuk-app-subnav__list-item govuk-app-subnav__list-item--curent">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
      href="{% url 'job-roles' %}">Job roles</a>
     
    </li>

    <li class="govuk-app-subnav__list-item govuk-app-subnav__list-item--curent">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
      href="{% url 'browse-career-paths' %}">Career paths</a>

    </li>

    <li class="govuk-app-subnav__list-item govuk-app-subnav__list-item--curent">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
        href="#">Skills</a>

    </li>

    <li class="govuk-app-subnav__list-item govuk-app-subnav__list-item--curent">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
      href="{% url 'view-skill-levels' %}">Skill levels</a>

    </li>
  </ul>
</nav>