<div>
    <nav>
          <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'dashboard' %}">
                Home
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'browse-profiles' %}">
                Browse Profiles
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'profile' %}">
               My Profile
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'logout' %}">
               Log out
              </a>
            </li>
          </ul>
        </nav>
</div>