<div>
    <nav>
          <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'dashboard' %}">
                Home
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="/browse-profiles">
                Browse Profiles
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="/career-paths">
                Career paths
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'job roles' %}">
                Job Roles
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'profile' %}">
               My Profile
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="{% url 'log out' %}">
               Log out
              </a>
            </li>
          </ul>
        </nav>
</div>